/* App.css */

body {
  font-family: Arial, sans-serif;
  color:white;
}
#dp{
  height:'70px';
background-color: red;
  position:sticky;
  top: 0;
}
button{
  background-color: aqua;
  border-radius: 22px;
  border: 2px solid blue;;
  margin: 4px;
  padding: 5px;
}
#Home{
  background-color: orange;
}
#Home,#about,#contact,#hello{
  height: 700px;
  
}
#about{
  background-color: yellow;
}
#contact{
  background-color: blue;
}
#hello{
  background-color: black;
}
html{
  scroll-behavior: smooth;
}
