/* App.css */

body {
  font-family: Arial, sans-serif;
}

.ser{
  font-size: 33px;
  /* justify-items: f; */
  margin: 13px;
  padding: 14px;
  /* background-color: rgb(219, 204, 204); */
  display:block;
  text-align: center;
  justify-content: center;
  font-weight: 700;

}
hr {
  /* border: none; */
  height: 1px; /* Set the height of the line */
  background-color: #dad6d6; /* Set the color of the line */
  margin: 20px 0; /* Add some space above and below the line */
  text-shadow: azure;
}

.shadow-line {
  border: none;
  height: 2px;
  background-color: #333;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(83, 80, 80, 0.2); /* Slight shadow */
}

button{
  font-size: 20px;
  border-radius: 22px  ;
  margin: 5px;
  padding: 5px;
  /* color: black; */
  background: transparent;
  /* background-color: white; */
  font-weight: 600;
  cursor: pointer;
  
  

  

}
button.text{
color: black;


}

h1{
  color: black;
}
p{
  color: black;
}
.hp{
  border: 2px solid rgb(235, 227, 227);
  margin: 10px;
  padding:20px;
  /* align-items: center;
  justify-content: center; */

}
/* nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #333;
}

nav ul li.active {
  font-weight: bold;
  color: #007bff;
}

.sections {
  margin-left: 220px;
  padding: 20px;
}

section {
  height: 100vh;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

section h2 {
  margin-top: 0;
} */
