/* App.css */

body {
  font-family: Arial, sans-serif;
}

.ser {
  font-size: 33px;
  margin: 13px;
  padding: 14px;
  display: block;
  text-align: center;
  justify-content: center;
  font-weight: 700;
}
hr {

  height: 1px; 
  background-color: #dad6d6; 
  margin: 20px 0; 
  text-shadow: azure;
}

.shadow-line {
  border: none;
  height: 2px;
  background-color: #333;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(83, 80, 80, 0.2); 
}

button {
  font-size: 20px;
  border-radius: 22px;
  margin: 5px;
  padding: 5px;
  /* color: black; */
  background: transparent;
  /* background-color: white; */
  font-weight: 600;
  cursor: pointer;
}


h1 {
  color: black;
}
p {
  color: black;
}
.hp {
  border: 2px solid rgb(235, 227, 227);
  margin: 10px;
  padding: 20px;
  /* align-items: center;
  justify-content: center; */
}
